<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/root.css" />
    <title>DIY Store REST API</title>
  </head>
  <body>
    <section class="git">
      <a target="_blank" href="https://github.com/joaopaulosf"
        ><img src="icons/git.svg" alt=""
      /></a>
    </section>
    <section class="sumary">
      <img class="sumary__logo" src="icons/brand.svg" alt="diystore-brand" />
      <h1 class="sumary__title">Do it Yoursel RESTful API</h1>
      <p class="sumary__text">
        Fake store rest API for your e-commerce or shopping website prototype.
      </p>
      <section class="link">
        <a
          target="_blank"
          href="https://github.com/joaopaulosf/diy-store-api"
          class="link__github"
          >GitHub</a
        >
        <a href="#docs" class="link__docs">Get Started</a>
      </section>
    </section>
    <section class="docs" id="docs">
      <h1>About</h1>
    </section>
  </body>
</html>
