<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="icons/brand.svg" type="image/x-icon" />
    <link rel="stylesheet" href="css/root.css" />
    <title>DIY Store REST API</title>
  </head>
  <body>
    <section class="git">
      <a target="_blank" href="https://github.com/joaopaulosf"
        ><img src="icons/git.svg" alt=""
      /></a>
    </section>
    <section class="sumary">
      <img class="sumary__logo" src="icons/brand.svg" alt="diystore-brand" />
      <h1 class="sumary__title">Do it Yoursel RESTful API</h1>
      <p class="sumary__text">
        Fake store rest API for your e-commerce or shopping website prototype.
      </p>
      <section class="link">
        <a
          target="_blank"
          href="https://github.com/joaopaulosf/diy-store-api"
          class="link__github"
          >GitHub</a
        >
        <a href="#docs" class="link__docs">Get Started</a>
      </section>
    </section>
    <section class="docs" id="docs">
      <h1 class="docs__title">Example code</h1>
      <pre class="docs__example">
fetch('https://diystore-api.onrender.com/products/1')
    .then(res=>res.json())
    .then(json => console.log(json))</pre
      >

      <h1 class="docs__title">Routes</h1>
      <p class="docs__text">All HTTP methods are sopported</p>
      <ul class="list">
        <li class="list__item">
          <span>GET</span>
          <a href="#">/products</a>
        </li>
        <li class="list__item">
          <span>GET</span>
          <a href="#">/products/1</a>
        </li>
        <li class="list__item">
          <span>GET</span>
          <a href="#">/products/categories</a>
        </li>
        <li class="list__item">
          <span>GET</span>
          <a href="#">/products/category/kids</a>
        </li>
        <li class="list__item">
          <span>POST</span>
          <a href="#">/products</a>
        </li>
        <li class="list__item">
          <span>PUT</span>
          <a href="#">/products/1</a>
        </li>
        <li class="list__item">
          <span>PATCH</span>
          <a href="#">/products/1</a>
        </li>
        <li class="list__item">
          <span>DELETE</span>
          <a href="#">/products/1</a>
        </li>
      </ul>
    </section>
    <footer class="footer">
      <p class="footer__text">
        created by
        <a
          class="footer__link"
          href="https://www.linkedin.com/in/jo%C3%A3opaulosf/"
          target="_blank"
          >joaopaulosf</a
        >
      </p>
      &copy;
    </footer>
  </body>
</html>
