@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;500;600&display=swap");

* {
  font-family: "JetBrains Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333333dc;
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

a {
  text-decoration: none;
}

.git {
  position: absolute;
  right: 10px;
  top: 10px;
}

.sumary {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
  margin: 240px 0;
}

.sumary__logo {
  margin: 0 auto;
}

.sumary__title {
  font-weight: 200;
  font-size: 38px;
}

.sumary__text {
  color: #33333393;
  font-weight: 300;
  font-size: 16px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.link__github,
.link__docs {
  flex-basis: 30%;
  width: 180px;
  padding: 15px 32px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
  box-shadow: 3px 3px 6px #3333331f;
}

.link__github {
  border: 1px solid #33333393;
}

.link__docs {
  color: #fff;
  background-color: #68c79c;
}

.link__github:hover {
  border-color: #68c79c;
  box-shadow: none;
}

.link__docs:hover {
  color: #33333393;
  box-shadow: none;
}

.docs {
  max-width: 1280px;
}

.docs__title {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 30px;
}

.docs__example {
  margin-bottom: 120px;
  background-color: #3333330e;
  padding: 30px;
  letter-spacing: 2px;
}

.docs__text {
  font-weight: 300;
  font-size: 16px;
  color: #33333393;
  margin-bottom: 20px;
}

.list {
  margin-bottom: 120px;
}

.list__item {
  display: flex;
  justify-content: space-between;
  max-width: 460px;
  margin: 10px 0;
}

.list__item > a {
  color: #7f8ecff6;
}

.footer {
  width: 100%;
  display: flex;
  gap: 3px;
  align-items: center;
  padding: 60px 0;
  background-color: #3333330e;
  justify-content: center;
}

.footer__text {
  color: #3333339f;
}

.footer__link {
  color: #7f8ecff6;
}
